h4 {
    margin-top: 50px;
    margin-bottom: 5 px;
    
}

.rec {
    background-color: rgb(128, 241, 128); 
}

.recy {
   background-color:  rgb(241, 241, 143); 
}

.rece {
    background-color: rgb(241, 152, 152);
}